@tailwind base;
@tailwind components;
@tailwind utilities;

/* Plasmo content UI 的 host */
plasmo-csui {
  z-index: 9999;
  position: fixed;
  top: 56px;
  right: 0;
  width: 380px;
  height: calc(100vh - 56px);
}
